.square {
    width: 1200px;
;
    /* height: 380px; */
    margin-top: 220px;
    object-fit: cover;

    margin-bottom: 80px;
}

.square1 {
    width: 100%;
    /* position: ABSOLUTE; */

    height: 380px;
    margin-bottom: 220px;


    /* padding-bottom: 180px; */
}